#!/usr/bin/env bash

mdEngine='pmemd'
useMpi='Y'
numProcs='4'
useCuda='N'
allowOverwrites='N'

# To speed up simulations when you only want to test the workflow, uncomment this:
# MDUtilsTestRunWorkflow='Yes'

#writeCommands=Only
#ReferenceCoordinates='NONE'

#for i in ${RunParts[@]} ; do 
#	echo "${i}"
#	echo "${Prefix[${i}]}"
#	echo "${Description[${i}]}"
#	if [ "${ReferenceCoordinates}" == "NONE" ] ; then
#		echo "There are no ReferenceCoordinates defined."
#	else 
#		echo "${ReferenceCoordinates[${i}]}"
#	fi
#done
